.textarea-container {
  width: 100%;
  position: relative;
  display: inline-block;
}
.viestiKentta {
  width: 100%;
  height: 75px;
  resize: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.counter {
  font-size: 1rem;
  color: #3d2e3997;
  position: absolute;
  bottom: 1.5rem;
  right: 0;
}
.heippalappuNapit {
  font-size: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.seinaPvm {
  font-size: 1rem;
}

.seinaViesti {
  font-size: 1.3rem;
}
