body {
  font-size: 62.5%;
  font-family: "Roboto Slab", serif;
  background-color: #f6f7f9;
}
.moduleHeader {
  padding: 2rem;
  border: 1px solid #b6cedf;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 1rem;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.4rem;
  padding-bottom: 1rem;
  
}
h4 {
  font-size: 1rem;
}
p {
  font-size: 1rem;
  padding-bottom: 1rem;
}

button,
.buttonPieni,
.buttonYmpyra {
  font-family: "Roboto Slab", serif;
  font-size: 1rem;
  padding: 0.7rem 0.7rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #4a6c8a;
  color: #fff;
  cursor: pointer;
}
button:hover {
  background-color: #6989a9;
}
.buttonPieni {
  font-size: 0.7rem;
  padding: 0.35rem 0.35rem;
  border-radius: 0.25rem;
}
.buttonYmpyra {
  width: 35px;
  height: 35px;
  padding: 0 0 0.15rem 0;
  border-radius: 7rem;
}

hr {
  color: #00000020;
  margin-bottom: 1rem;
}

.hidden {
  display: none;
}
.spinner {
  display: none;
  color: #4a6c8a;
}

.pageHeader {
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  font-size: 2rem;
  background-color: #2a3d57;
}
.loginStuff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem 0 0;
  height: 4rem;
}
.username-text-box {
  color: #f6f7f9;
  font-size: 1rem;
}
.logout-text-box {
  font-size: 1rem;
  text-align: right;
  color: #39a6c5;
}
.logout-text-box a {
  font-size: 1rem;
  text-align: right;
  color: #39a6c5;
}

.mainModuleContentContainer {
  color: #333333; 
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 0.5rem;
}

.bottomNavbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-color: #3c4f6d;
  text-align: center;
}
.bottomNavbar a {
  text-decoration: none;
}
.bottomNavbar i {
  color: #39a6c5;
  padding: 0rem;
  font-size: 3rem;
  padding: 0.5rem;
}








