body {
    font-size: 62.5%;
    font-family: 'Roboto Slab', serif;
    color: #3d2e39;
}

h1 {
    font-size: 2rem;
    padding-block-end: 2rem;
}

h2 {
    font-size: 1rem;
    padding-block-end: 0.5rem;
    font-weight: 700;
}

h4 {
    font-size: 0.7rem;
}

p {
    font-size: 1rem;
    padding-block-end: 0rem;
}

button {
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #39A6C5;
    color: #fff;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    width: 100%;

    font-size: 2.5rem;
    background-color: white;
    box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.1);
}

.innerContainer {
    
    color: #3d2e39;
    margin-top: 4rem;
    margin-bottom: 5rem;
    padding: 1rem;
    
    
}
section {
    font-size: 3rem;
    padding-block-end: 1rem;
}

.perusTeksti {
    font-size: 1rem;
}
.navbar {
    
    font-size: 3rem;
    background-color: #b6cedf;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-block-end: 0;
    right: 0;
}
.navbar a {
    text-decoration: none;
    
}
i {
    padding: 0.5rem;
}




.login-container {
    padding: 2rem;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 1rem;
    text-align: left;
    font-size: 2rem;
}

.input-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.input-group i {
    position: absolute;
    left: 0rem;
    top: 50%;
    transform: translateY(-45%);
    color: #aaa;
}

.input-group input {
    width: 60%;
    padding: 1rem 1.5rem 1rem 3rem;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    text-align: left;
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.forgot-password {
    font-size: 1rem;
    display: block;
    margin-top: 15px;
    color: #39A6C5;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}